:root {
    --portWhite: #fffbfb;
    --portBGclr: #c9daf8;
}

/* :root {
    --altWhite: rgb(247, 236, 227);
    --altGray:rgb(143, 165, 179);
    --baseColor: rgb(132, 204, 238);
    --fontColor: rgb(31, 34, 58);
    --clearGlass: rgba(0, 0, 0, 0);
    --nameShadow: rgba(29, 8, 48, 0.36);
    --buttonBackColor: rgb(240, 222, 123);
    --popingGreen:rgb(213, 248, 177);
    --popingPink:rgb(250, 210, 210);
    --popingOrange:rgb(248, 229, 179);
    --popingPurple:rgb(197, 186, 248);
    --mainTextFont: 'Amatic SC', cursive;
} */

body {
    background-color: var(--portBGclr);
}