body{
    margin: 0;
    background-color: rgb(252, 247, 241);
}

.NamesandOrganization {
    position: relative;
    margin-top: 15vmin;
    margin-left: 5vmin;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
}

.Names {
    position: fixed;
    margin: 0;
}

.realName {
    position: absolute;
    left: 8vmin;
    font-size: 14vmin;
    margin: 0;
    width: auto;
}

.fakeName {
    font-size: 2.8vmin;
    margin: 0;
    margin-top: 13vmin;
    margin-left: 70vmin;
    width: auto;
}

.organization {
    position: relative;
    margin-left: 43vmin;
}

main {
    top: 0;
    left: 0;
    margin: 0px;
    margin-top: 15vmin;
    
}

.mainContentBox{
    margin-top: 25vmin;
    position: absolute;
    width:100%;
    height: auto;
    z-index: 100;
}

.beginTriangle{
    display: block;
    background-image: linear-gradient(to top left, rgb(88, 205, 255) 48%, rgba(0, 0, 0, 0) 50%);
    height: 10vmin;
    width: 100%;
}

.mainContent{
    position:initial;
    width:100%;
    height: auto;
    background-color: rgb(88, 205, 255);
    z-index: 100;
}

h2{
    margin: 0;
}

footer {
    position: fixed;
    bottom: 2vmin;
    left: 50%;
    transform: translateX(-50%);
}