body {
    margin: 0;
    background-color: rgb(252, 247, 241);
}

p {
    margin: 0;
}

.NamesandOrganization {
    position: relative;
    margin-top: 15vw;
    margin-left: 15vw;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.nameBox {
    width: 80vw;
    position: fixed;
    margin: 0;
}

.realName {
    position: relative;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 4px rgb(15, 11, 66);;
    font-size: 8rem;
    margin: 0;
    top: 0;
    width: auto;
}

.fakeName {
    font-size: 1.8rem;
    margin: 0;
    margin-left: auto;
    right: 0;
    width: auto;
    position: relative;
}

.organization {
    position: relative;
    margin: 0;
}

main {
    color: rgb(15, 11, 66);
    top: 0;
    left: 0;
    margin: 0px;
    margin-top: 15vmin;
}

.langChangeButton {
    text-align: center;
    position: fixed;
    right: 6vw;
    top: 6vh;
    background-color: rgb(255, 181, 181);
    ;
    border-radius: 10px;
    height: 4vmin;
    width: 10vmin;
}

.lanBox {
    position: relative;
    margin: 0;
    width: auto;
    height: 100%;
}

.langText {
    color: rgb(15, 11, 66);
    font-size: 1.6rem;
    font-weight: bold;
}

.mainContentBox {
    margin-top: 25vmin;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
}

.beginTriangle {
    display: block;
    background-image: linear-gradient(to top left, rgb(88, 205, 255) 48%, rgba(0, 0, 0, 0) 50%);
    height: 10vmin;
    width: 100%;
}

.mainContent {
    padding-top: 2vmin;
    padding-left: 5vmin;
    position: initial;
    width: calc(100% - 5vmin);
    height: auto;
    background-color: rgb(88, 205, 255);
    z-index: 10;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    margin: 0;
    text-decoration: underline rgb(252, 247, 241);
}

.tabBox {
    margin-left: 4vmin;
}

.upperSpace {
    margin-top: 2vmin;
}

.profileBox {
    margin-bottom: 4vmin;
    font-size: 1.5rem;
    font-weight: 600;
}

.biographTable {
    font-size: 1.2rem;
    width: 75vw;
    padding: 10px;
    background-color: rgb(143, 165, 179);
    border-radius: 10px;
}

.tableTop {
    color: rgb(252, 247, 241);
    background-color: rgba(0, 0, 0, 0);
    font-weight: 800;
}

.tableMain {
    border: 2px black solid;
}

.biographCell {
    padding-left: 10px;
    font-weight: 600;
    background-color: rgb(252, 247, 241);
}

.worksButtonArea {
    height: 30px;
    float: right;
    margin-right:20vw;
    margin-bottom: 10px;
    display: flex;
}

.worksButton {
    height: 100%;
    width: 80px;
    background-color: rgba(255, 181, 181, 0.85);
    margin-left: 10px;
    border-radius: 10px;
    border: 3px rgba(0, 0, 0, 0.35) solid;
    text-align: center;
    font-size: 20px;
}

.selectedWorksButton {
    background-color: rgb(255, 181, 181);
    border-color: rgb(0, 0, 0);
    font-weight: 800;
}

.worksTable {
    width: 75vw;
    height: auto;
}

.worksImgCell {
    background-color: rgb(252, 247, 241);
    height: 100px;
    width: 140px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fitImg2Cell{
    display: flex;
    margin: auto;
    height: 90%;
    width: auto;
    pointer-events: none; 
}

.horizontalCellSpace {
    background-color: rgba(0, 0, 0, 0);
    height: 0.1vh;
}

.verticalCellSpace {
    background-color: rgba(0, 0, 0, 0);
    width: 0.2vw;
}

.worksTextCell {
    background-color: rgb(252, 247, 241);
    margin-left: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h4{
    font-size: 1.4rem;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
}

a{
    font-size: 1rem;
    color: rgb(15, 11, 66);
    text-decoration: none;
}

.wordsText{
    font-size: 1rem;
}

.endTriangle {
    display: block;
    background-image: linear-gradient(to bottom right, rgb(88, 205, 255) 48%, rgba(0, 0, 0, 0) 50%);
    height: 10vmin;
    width: 100%;
    margin-bottom: 8vmin;
}

footer {
    position: fixed;
    bottom: 4vmin;
    left: 50%;
    transform: translateX(-50%);
}