:root {
    --altWhite: rgb(247, 236, 227);
    --altGray:rgb(143, 165, 179);
    --baseColor: rgb(132, 204, 238);
    --fontColor: rgb(31, 34, 58);
    --clearGlass: rgba(0, 0, 0, 0);
    --nameShadow: rgba(29, 8, 48, 0.36);
    --buttonBackColor: rgb(240, 222, 123);
    --popingGreen:rgb(213, 248, 177);
    --popingPink:rgb(250, 210, 210);
    --popingOrange:rgb(248, 229, 179);
    --popingPurple:rgb(197, 186, 248);
    --mainTextFont: 'Amatic SC', cursive;
}

body {
    overflow-x:hidden;
    margin: 0;
    background-color: var(--altWhite);
}

p {
    margin: 0;
    margin-right: 30px;
}

#loading{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 110;
    background-color: var(--baseColor);
}

.startAnimeBox{
    margin: auto;
    width: 40%;
    height: 30%;
    display: flex;
}

.loadingCircle{
    margin: auto;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}

.circlA{
    background-color: var(--popingGreen);
    animation: upDownCircle 4s infinite linear;
}

.circlB{
    background-color: var(--popingPink);
    animation: upDownCircle 4s infinite linear;
    animation-delay: -3.2s;
}

.circlC{
    background-color: var(--popingOrange);
    animation: upDownCircle 4s infinite linear;
    animation-delay: -2.4s;
}

.circlD{
    background-color: var(--popingPurple);
    animation: upDownCircle 4s infinite linear;
    animation-delay: -1.6s;
}

@keyframes upDownCircle{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50%{
        transform: translateY(-10vh);
        -webkit-transform: translateY(-10vh);
    }
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.loaded {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.headerSquare {
    position: absolute;
    top: 0;
    height: 10vh;
    width: calc(10vh*1.73);
    border-radius: 50%;
}

.sqA {
    background-color: var(--popingGreen);
    animation: ovalAnime 4s infinite linear;
}

.sqB {
    background-color: var(--popingPink);
    animation: ovalAnime 4s infinite linear;
    animation-delay: -0.8s;
}

.sqC {
    background-color: var(--popingOrange);
    animation: ovalAnime 4s infinite linear;
    animation-delay: -1.6s;
}

.sqD {
    background-color: var(--popingPurple);
    animation: ovalAnime 4s infinite linear;
    animation-delay: -2.4s;
}

@media (min-width:801px){
    @keyframes ovalAnime {
        0% {
            transform: translateX(calc(-1*10vh*1.73));
            -webkit-transform: translateX(calc(-1*10vh*1.73));
        }
        100% {
            transform: translateX(calc(90vw) rotate(720deg));
            -webkit-transform: translateX(100vw) rotate(720deg);
        }
    }
}

@media(max-width:800px){
    @keyframes ovalAnime {
        0% {
            transform: translateY(-10vh);
            -webkit-transform: translateY(-10vh);
        }
        100% {
            transform: translateY(60vh) rotate(720deg);
            -webkit-transform: translateY(60vh) rotate(720deg);
        }
    }
}

.bigSquare {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 60vh;
    padding-left: 2px;
    background-color: cornflowerblue;
}

.bigTriangle {
    position: absolute;
    top: -10vh;
    right: 20vw;
    width: 10vw;
    height: 70vh;
    background-image: linear-gradient(to top left, cornflowerblue 49%, var(--clearGlass) 50%);
}

.topArea{
    position: sticky;
    width: 100vw;
    height: 40vh;
}

.NamesandOrganization {
    font-family: var(--mainTextFont);
    position: relative;
    margin-left: 15vw;
    top: -5vh;
    left: 0px;
    height: 30vh;
    width: auto;
}

.nameBox {
    width: 80vw;
    height: 17vh;
    position: relative;
    margin: 0;
}

.realNameJP {
    position: relative;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 800;
    color: var(--fontColor);
    margin: 0;
    top: 0;
    width: auto;
}

@media (min-width:811px) {
    .realNameJP {
        font-size: 10rem;
        text-shadow: var(--nameShadow) 14px 5px;
    }
}

@media (max-width:810px) and (min-width:751px) {
    .realNameJP {
        font-size: 6rem;
        text-shadow: var(--nameShadow) 14px 5px;
    }
}

@media (max-width:750px) {
    .realNameJP {
        font-size: 4rem;
        text-shadow: var(--nameShadow) 7px 5px;
    }
}

.realNameEN {
    position: relative;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 800;
    color: var(--fontColor);
    margin: 0;
    top: 0;
    width: auto;
}

@media (min-width:1351px) {
    .realNameEN {
        font-size: 7.5rem;
        text-shadow: var(--nameShadow) 14px 5px;
    }
}

@media (max-width:1350px) and (min-width:951px) {
    .realNameEN {
        font-size: 5rem;
        text-shadow: var(--nameShadow) 14px 5px;
    }
}

@media (max-width:950px) and (min-width:681px) {
    .realNameEN {
        font-size: 3.5rem;
        text-shadow: var(--nameShadow) 7px 5px;
    }
}

@media (max-width:680px) and (min-width:501px) {
    .realNameEN {
        font-size: 5rem;
        text-shadow: var(--nameShadow) 7px 5px;
        margin-bottom: 10vh;
    }
}

@media (max-width:500px) {
    .realNameEN {
        font-size: 3.5rem;
        text-shadow: var(--nameShadow) 7px 5px;
    }
}

@media (max-width:400px) {
    .organization {
        opacity: 0;
    }
}

.fakeName {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
    margin-left: auto;
    right: 0;
    width: auto;
    position: relative;
}

.organization {
    position: relative;
    margin: 0;
}

.buttonBox{
    position: absolute;
    top: -10vh;
    left: 74vw;
    width: 20vw;
}

.langChangeButton {
    text-align: center;
    top: 6vh;
    background-color: var(--buttonBackColor);
    border-radius: 10px;
    height: 40px;
    width: 80px;
}

@media (min-width:901px){
    .langChangeButton{
        right: 6vw;
    }
}

@media (max-width:900px){
    .langChangeButton{
        left: 70vw;
    }
}

.lanBox {
    position: relative;
    margin: 0;
    width: auto;
    height: 100%;
}

.langText {
    color: var(--fontColor);
    font-size: 1.6rem;
    font-weight: bold;
}

.SNS {
    position: relative;
    text-align: center;
    background-color: var(--buttonBackColor);
    border-radius: 10px;
    height: 80px;
    max-height: 10vw;
    width: 80px;
    max-width: 10vw;
    margin: 10px;
    float: right;
}

.SNSIcon {
    position: relative;
    height: 90%;
    width: auto;
    margin: 5%;
    pointer-events: none;
}

main {
    color: var(--fontColor);
    top: 0;
    left: 0;
    margin: 0px;
    margin-top: 15vh;
}

.mainContentBox {
    position: relative;
    top: -15vh;
    width: 100%;
    height: auto;
    z-index: 100;
}

.beginTriangle {
    margin-top: 40px;
    display: block;
    background-image: linear-gradient(to top left, var(--baseColor) 49%, var(--clearGlass) 50%);
    height: 12vh;
    width: 100%;
}

.mainContent {
    padding-top: 2vh;
    padding-left: 5vw;
    padding-bottom: 8vh;
    position: initial;
    width: auto;
    height: auto;
    background-color: var(--baseColor);
    z-index: 10;
}

h2 {
    font-family: var(--mainTextFont);
    font-size: 2.8rem;
    margin: 0;
    text-decoration: underline var(--altWhite);
    text-decoration-thickness: 8px;
}

@media (max-width:300px) {
    h2 {
        font-size: 2rem;
    }
}

.tabBox {
    margin-left: 4vw;
    margin-right: 4vw;
}

.upperSpace {
    margin-top: 2vh;
}

.profileBox {
    margin-bottom: 4vh;
    font-size: 1.5rem;
    font-weight: 600;
}

.profile {
    display: grid;
}

@media (min-width:751px) {
    .profile {
        grid-template-columns: 3fr 10px 10fr;
    }
}

@media (max-width:750px) {
    .profile {
        grid-template-columns: repeat(5, 1fr);
    }
    .profileTopic {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .profileColon {
        grid-column-start: 1;
        grid-column-end: 2;
        opacity: 0;
    }
    .profileContext {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}

.biographTable {
    font-size: 1.2rem;
    width: 75vw;
    padding: 10px;
    background-color: var(--altGray);
    border-radius: 10px;
    margin-bottom: 4vh;
}

.tableTop {
    color: var(--altWhite);
    background-color: var(--clearGlass);
    font-weight: 800;
}

.tableMain {
    border: 2px black solid;
}

.biographCell {
    padding-left: 10px;
    font-weight: 600;
    background-color: var(--altWhite);
}

.worksButtonArea {
    height: 30px;
    margin-bottom: 10px;
    display: flex;
}

@media (min-width:751px) {
    .worksButtonArea {
        float: right;
        margin-right: 20vw;
    }
}

@media (max-width:750px) {
    .worksButtonArea {
        margin-top: 2vh;
        margin-left: 2vw;
        width: 80%;
        position: relative;
    }
}

.worksButton {
    height: 100%;
    width: 80px;
    background-color: var(--buttonBackColor);
    opacity: 0.85;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px rgba(0, 0, 0, 0.35) solid;
    text-align: center;
    font-size: 20px;
}

.selectedWorksButton {
    opacity: 1;
    border-color: rgb(0, 0, 0);
    font-weight: 800;
}

.worksTable {
    width: 75vw;
    height: auto;
}

.worksImgCell {
    background-color: var(--altWhite);
    height: 100px;
    width: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fitImg2Cell {
    display: flex;
    margin: auto;
    height: 90%;
    width: auto;
    pointer-events: none;
}

.horizontalCellSpace {
    background-color: var(--clearGlass);
    height: 0.1vh;
}

.verticalCellSpace {
    background-color: var(--clearGlass);
    width: 0.2vw;
}

.worksTextCell {
    background-color: var(--altWhite);
    margin-left: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h4 {
    font-family: var(--mainTextFont);
    font-size: 1.4rem;
    margin: 0px;
    margin-left: 15px;
}

a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--fontColor);
    text-decoration-color: rgb(51, 13, 13);
    text-decoration-thickness: 3px;
}

.wordsText {
    font-size: 1rem;
}

.endTriangle {
    display: block;
    background-image: linear-gradient(to bottom right, var(--baseColor) 48%, var(--clearGlass) 50%);
    height: 12vh;
    width: 100%;
    margin-bottom: 8vh;
}

footer {
    position: fixed;
    bottom: 4vh;
    width: 100vw;
    text-align: center;
}