<h1>略歴</h1>
<div class="textbox">
    <div class="tbl">
        <div class="tblRow"></div>
        <div class="tblRow">
            <div class="tblLeft">2004/03</div>
            <div class="tblRight">誕生</div>
        </div>
        <div class="tblRow">
            <div class="tblLeft">2007/06 - 2011/12</div>
            <div class="tblRight">アメリカ フロリダ州 居住</div>
        </div>
        <div class="tblRow">
            <div class="tblLeft">2019/04 - 2024/03</div>
            <div class="tblRight"><span>神戸市立工業高等専門学校</span> <span>電子工学科</span></div>
        </div>
        <div class="tblRow">
            <div class="tblLeft">2024/04 - 現在</div>
            <div class="tblRight"><span>神戸市立工業高等専門学校</span> <span>電気電子工学専攻</span></div>
        </div>
    </div>
</div>