<link rel="stylesheet" type="text/css" href="../CSS/Header.css">
<header>
    <input type="checkbox" id="hamtoggle">
    <label for="hamtoggle" class="hamburger">
        <span id="topbun"></span>
        <span id="patty"></span>
        <span id="bottombun"></span>
    </label>
    <div class="nav-wrapper">
        <nav class="header-nav">
            <div class="nav-list">
                <div class="nav-item"><div class="nav-item-text" onclick="homeLink()">ホーム</div></div>
                <div class="nav-item"><div class="nav-item-text" onclick="profileLink()">プロフィール</div></div>
                <!-- <div class="nav-item"><div class="nav-item-text" onclick="newsJPLink()">News</div></div> -->
                <!-- <div class="nav-item"><div class="nav-item-text" onclick="Mac020kLink()">Fun</div></div> -->
                <div class="nav-item"><div class="nav-item-text JP2EN" onclick="ENLink()">English</div></div>
            </div>
        </nav>
    </div> 
</header>