<div class="discription">
    <div class="selfPictArea">
        <img src="../Images/Self.webp" class="selfPict" alt="Self Picture">
    </div>
    <div class="ssIntro">
        <div class="MainName">
            大塚 晟
        </div>
        <div class="SubName">
            Otsuka Makoto
        </div>
        <div class="currentPosition">
            <span>神戸市立工業高等専門学校</span> <span>電気電子工学専攻 1年</span> <br> <span class="SAIHPLink" onclick="SAIHPLink()">高田研究室 SAI 所属 <img class="linkmark" src="../Images/link.svg" alt="SAI HP"></span>
        </div>
        <p><span>研究分野 : </span> <span>Human Computer Interaction</span></p>
        <p><span>趣味 : </span> <span>EDM</span></p>
        <p><span>メール : </span> <span>r119310[at]g.kobe-kosen.ac.jp</span></p>
        <span class="link" onclick="homeENLink()">English Page</span>
        <div class="linkbox">
            <div class="linkIcon" onclick="twitterLink()">
                <img  class="IconImg" src="../Images/twitter.svg" alt="Twitter">
            </div>
            <div class="linkIcon"  onclick="githubLink()">
                <img  class="IconImg" src="../Images/GitHub-Mark-64px.png"  alt="GitHub">
            </div>
            <div class="linkIcon" onclick="SAIMakotoLink()">
                <img  class="IconImg" src="../Images/SAI_ロゴ.webp" alt="SAI 大塚のプロジェクト">
            </div>
        </div>
    </div>
</div>