<h1>スキル</h1>
<div class="textbox">
    <p>プログラミング言語</p>
    <p class="textbox"><span>C,</span>  <span>Python,</span> <span>Java,</span> <span>Processing,</span> <span>LaTeX,</span> </p>

    <p>ウェブ言語</p>
    <p class="textbox"><span>HTML,</span>  <span>CSS,</span> <span>Javascript,</span></p>

    <p>ソフトウェア</p>
    <p class="textbox"><span>Word,</span> <span>Excel,</span> <span>PowerPoint,</span> <span>GIMP,</span> <span>Blender,</span> </p>

    <p>その他</p>
    <p class="textbox"><span>回路製作,</span> <span>日英翻訳,</span> </p>
</div>